/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.menu-right li>a{
		padding: 0 0;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.menu-left {
		display: none;
		position: absolute;
		left:0;
		top: 80px;
		background: #008499;
		box-shadow: 0 5px 20px black;
		border: 1px solid #d8d8d8;
		z-index: 10;		
	}
	.menu-left li {
		display:block;
		float: none;
	}
	.menu-left li>a {
		height: 45px;
		width: 120px;
	}
	.menu-left li>a:hover{
		border-bottom: none;
		border-right: solid 1px;
	}
	.logo {
		text-align: left;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}